.mobile-block-menu {
	border-top: 1px solid #e56b13;
	padding: 15px 0;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

	.mobile-grid  {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 10px;
		li {

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				color: #9F9F9F;
				position: relative;

				&:active {
					color: #3C3C3C;
				}
				.mob-icon {
					font-size: 2.5em;
					color: #e56b13;
				}
				span {
					font-size: 0.9em;
				}
			}
		}
	}
